
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');


/*ROOT VARIABLEs*/
:root{
    --color-danger: #EC1C24;
    --color-danger-variant: #F0251533;
    --color-success: #00FEA8;
    --color-success-variant: #07765A;
    --color-warning: #FFDE02;
    --color-white: #ffffff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #001C15;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant:  #11015C;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);  

}

*{ 
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 5rem auto auto;
    gap: 50px;
    grid-template-columns: 20rem auto;
}

img{
    display: block;
    width: 100%;
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

/* ******RIGHT****** */

.container_main_nav__right{
    margin-top: 1.4rem;
}

.container_main_nav__right .container_main_nav__right__top{
    display: flex;
    justify-content: end;
    gap: 2rem; 
    font-weight: 600;
    font-size: 18px; 
} 

.container_main_nav__right .container_main_nav__right__top button{
    display: none;
}

.container_main_nav__right .toggler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: .5rem;
}

/* ****************DROPDOWN***************** */

/* The dropdown container */
.dropdown {
    /* float: left; */
    overflow: hidden;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* ************************ */

aside{
    width: 290px;
    background: hsl(165, 100%, 5%);
    padding-bottom: 149px;
    height: fit-content;
}

aside .container_aside__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .container_aside__logo{
    display: flex;
    gap: 2rem;
}

aside .container_aside__logo img{
    height: 82px;
    width: 196px; 
    margin-left: 2rem;
}

aside .container_aside__close{
    display: none;
}

aside .container_aside__sidebar{ 
    display: flex;
    flex-direction: column;
    height: 900px;
    position: relative;
    top: .1rem;
}

aside h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;  
}

aside .container_aside__sidebar .container_aside__sidebar__side-headings{
    color: var(--color-success);
    margin: 1.5rem 0 1rem 3rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.1px;
}

aside .container_aside__sidebar a{
    display: flex;
    color: var(--color-white);
    margin-left: 3rem;
    margin-bottom: 1rem;
    gap: 1rem;
    position: relative;
    height: 4rem;
    transition: all 300ms ease;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.1px;
    text-align: left;
}

#dashboard-icon{
    font-size: 2rem;
}

aside .container_aside__sidebar a span{
    font-size: 1.7rem;
    transition: all 300ms ease;
    color: var(--color-success);
}

aside .container_aside__sidebar a:last-child{
    position: absolute;
    bottom: -7rem;
}

aside .container_aside__sidebar a:last-child:hover{
    padding: .5rem 10rem 0rem 0rem;
}

aside .container_aside__sidebar a.active{
    background: var(--color-success);
    color: var(--color-dark);
    border-radius: 4px;
    margin: 0 7px;
    margin-bottom: 10px;
    padding: 0.5rem  0rem 0.5rem 2rem;
}

aside .container_aside__sidebar a.active h3{
    margin-top: 6px;
}

aside .container_aside__sidebar a.active span{
    color: var(--color-dark);
    margin-left: calc(1rem - 10px)
}

aside .container_aside__sidebar a:hover{
    background: var(--color-success);
    color: var(--color-dark);
    border-radius: 4px;
    margin: 10px 7px;
    padding: 0.5rem  0rem 0.5rem 0;
    
}

aside .container_aside__sidebar a:hover span{
    margin-left: 1rem;
    color: var(--color-dark);
}

/* ****************** main ******************** */

main{
    margin-top: 1.4rem;
}

main .container_main_nav__right .container_main_nav__right-cont{
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 2rem;
    
}

.container_main_nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 30px 30px 0;
}

.container_main_nav .name{
    line-height: 30px;
    letter-spacing: 0.1px;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.container_main_nav__right .container_main_nav__right__top .profile{
    display: flex;
    gap: 1rem;
    text-align: right;
}

main .wallet_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .wallet_card > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .wallet_card > div:hover{
    box-shadow: none;
}

main .wallet_card > div .icons{
    background: var(--color-warning);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}


main .wallet_card img{
    width: 80px;
    height: 80px;
}

main .wallet_card .wallet_card_ethereum .icons{
    background: var(--color-primary-variant);
}

main .wallet_card .wallet_card_tether .icons{
    background: var(--color-success-variant);
}

.wallet_card .wallet_card_bitcoin, .wallet_card .wallet_card_ethereum, .wallet_card .wallet_card_tether{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
    background-image: url("images/background-img.svg");
    background-position: right 0;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;   
}

main .wallet_card .text h3{
    margin: 1rem 0 0.6rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #000000
}

main .wallet_card .text h1{
    margin: 1rem 0 0.6rem;
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    color: #000000
}

main .wallet_card .text h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

/* ***************** ACTIVE TRADES ********************* */

main .active-trades{
    margin-top: 42px;
    width: auto;
}

main .active-trades table{
    background: var(--color-white);
    width:100%;
    border-collapse: collapse;
    border-radius: 5px;
    text-align: left;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    font-size: inherit;
}

main .active-trades table:hover{
    box-shadow: none;
}

main table caption{
    text-align: left;
    padding: 13px 0 13px 35px;
    height: 70px;
    border-bottom: 1px solid var(--color-light);
    background: #001C15;
    color: var(--color-success);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

main table tbody tr{
    height: 80px;
    color: #121212;
    border-bottom: 7px solid rgba(0, 254, 168, 0.15);;
    
}

main table tbody tr:last-child{
    border: none;
}

main table tbody tr td .pic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}

main table tbody tr td .pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main .active-trades .btn{
    color: var(--color-success);
    background: var(--color-dark);
    padding: 10px 30px;
    border-radius: 5px;
}

main .active-trades #buy-offer{
    color: #16CB3E;
    background: #79FFB942;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

main .active-trades #sell-offer{
    color: var(--color-danger);
    background: var(--color-danger-variant);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* ****************REFER AND EARN ***************/

main .con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 2rem;
}

main .content{
    height: 300px;
    width: 700px;
    border-radius: 10px;
    background: var(--color-white);
    padding-left: 20px;
    box-shadow: var(--box-shadow);
}

main .content h2{
    margin: 18px 0 18px 0;
    height: 32px;
    width: 350px;
    line-height: 24px;
    font-weight: 800;
}

main .content p{
    margin: 18px 0 18px 0;
    width: 400px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

main .content h4{
    margin: 18px 0 18px 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
}

main .content .link input{
    height: 50px;
    width: 400px;
    border: 1px solid rgba(18, 18, 18, 0.2);
    margin-right: 20px;
    padding-left: 10px;
}

main .content .link input::placeholder{
    padding-left: 3px;
    font-size: inherit;
    font-weight: 600;
    line-height: 21px;
}

main .content .link a{
    color: var(--color-success);
    background: var(--color-dark);
    padding: 15px 18px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

main .content .socials{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

main .content .socials .social span{
    height: 45px;
}

main .recent-activity{
    height: 300px;
    width: 519px;
    border-radius: 10px;
    background: var(--color-white);
    padding: 30px;
    box-shadow: var(--box-shadow);

}

/* **************MEDIA QUERIES FOR LAPTOPS**************** */

@media screen and (max-width: 1200px) {
    .container{
        width: 94%;
        grid-template-columns:10rem auto ;
    }

    aside .container_aside__sidebar h3{ 
        display: none;
    }

    aside .container_aside__sidebar a{ 
        width: 5.6rem;
    }

    aside .container_aside__sidebar a:last-child{ 
        position: relative;
        margin-top: 1.8rem;
    }

    main .wallet_card{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .active-trades{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .active-trades table{
        width: 83vw;
    }

    main table thead tr th:last-child, main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr th:last-child, main table tbody tr th:first-child{
        display: none;
    }
}

/* **************MEDIA QUERIES FOR MOBILES AND SMALLER TABLETS**************** */

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        left: -100%;
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
           left: 0; 
        }
    }

    aside .container_aside__logo img{
        margin-left: 0.5rem;
    }

    aside .container_aside__logo h2{
        display: inline;
    }

    aside .container_aside__sidebar{ 
        height: 900px;
    }

    aside .container_aside__sidebar h3{
        display: inline;
    }

    aside .container_aside__sidebar a{
        width: 100%;
        height: 3rem;
    }

    aside .container_aside__sidebar a:last-child{
        position: absolute;
        bottom: -6rem;
    }

    aside .container_aside__close{
        display: inline-block;
        cursor: pointer;
        background: var(--color-white);
    }

    .container_main_nav__right .container_main_nav__right__top .profile p{
        display: none;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .container_main_nav .name{
        line-height: 3rem;
    }

    main .wallet_card{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .wallet_card .wallet_card_bitcoin, .wallet_card .wallet_card_ethereum, .wallet_card .wallet_card_tether{
        width: auto;
    }

    main .active-trades{
        position: relative;
        margin: 3rem 0 0 0;
        width: fit-content;
    }

    main .active-trades table{
        width: auto;
    }

    main .active-trades #buy-offer, main .active-trades #sell-offer{
       background: none;
       padding: 0;
    }
    
    .container_main_nav__right{
        width: 94%;
        margin: o auto 4rem;
    }

    .container_main_nav__right .container_main_nav__right__top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .container_main_nav__right .container_main_nav__right-cont{
        position: absolute;
        left: 65%;
        gap: .5rem !important;
    }

    .container_main_nav__right .container_main_nav__right-cont .notification,.container_main_nav__right .container_main_nav__right-cont .profile{
       padding-top: 2rem;
}


    .dropdown-content {
        right: 20px; 
      }
    
    .container_main_nav__right .container_main_nav__right__top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .container_main_nav__right .container_main_nav__right__top button span{
        font-size: 2rem;
    }

    main .con{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    main .con .content, main .con .recent-activity{
        width: auto;
        padding: 0p 15px;
        
    }

    main .content .link a{
        padding: 10px 20px;
        margin-top: 5px;
    }
    
}

@media screen and (max-width: 375px) {

    .container_main_nav__right-cont{
        padding: 0;
        align-items: end;
    }

}

